<% if (errorMessage) { %>
  <div class="user-message user-message--error">
    <%= errorMessage %>
  </div>
  <% } %>
    <% if (successMessage) { %>
      <div class="user-message user-message--success">
        <%= successMessage %>
      </div>
      <% } %>